{% extends "base.html" %}
{% block head %}
{% load static %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Music Player</title>
<link rel="stylesheet"  href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% block title %} <title> POP </title>{% endblock title %}

{% block style %}
<style> 
    body{
        font-family: 'Roboto Slab', serif;
        background-size: cover;
        background-image: url("{% static 'assets/bg.jpg' %}");
      }
    
</style>

{% endblock style %}
{% endblock head %}
{% block body %}
<div class="container">
    
    <div class="side">
<img src="side.jpg" alt="">
    </div>
    <div class="songlist">
        <h1>Best of Pop music </h1>
        
        <div> 
           
            <div class="songitem">
                <img src="covers/1.jpg" alt=""><span class="songname"> </span>
               <span class="songlistplay"><span class="timestamp">5:30  </span><i id="1" class=" far songitemplay fa-2x fa-play-circle"></i></span>
            </div>
        </div>
        <div> 
            <div class="songitem">
                <img src="covers/1.jpg" alt=""><span class="songname"> </span>
               <span class="songlistplay"><span class="timestamp">4:20  </span><i  id="2" class=" far songitemplay fa-2x fa-play-circle"></i></span>
            </div>
        </div>
        <div> 
            <div class="songitem">
                <img src="covers/1.jpg" alt=""><span class="songname"> </span>
               <span class="songlistplay"><span class="timestamp">2:37  </span><i id="3" class=" far songitemplay fa-2x fa-play-circle"></i></span>
            </div>
        </div>
        <div> 
            <div class="songitem">
                <img src="covers/1.jpg" alt=""><span class="songname"> </span>
               <span class="songlistplay"><span class="timestamp">3:34  </span><i id="4" class=" far songitemplay fa-2x fa-play-circle"></i></span>
            </div>
        </div>
        <div> 
            <div class="songitem">
                <img src="covers/1.jpg" alt=""><span class="songname"> </span>
               <span class="songlistplay"><span class="timestamp">2:40  </span><i id="5" class=" far songitemplay fa-2x fa-play-circle"></i></span>
            </div>
        </div>
        <div> 
            <div class="songitem">
                <img src="covers/1.jpg" alt=""><span class="songname"> </span>
               <span class="songlistplay"><span class="timestamp">3:20  </span><i id="6" class=" far songitemplay fa-2x fa-play-circle"></i></span>
            </div>
        </div>
        <div> 
            <div class="songitem">
                <img src="covers/1.jpg" alt=""><span class="songname"> </span>
               <span class="songlistplay"><span class="timestamp">4:40  </span><i id="7" class=" far songitemplay fa-2x fa-play-circle"></i></span>
            </div>
        </div>
        <div> 
            <div class="songitem">
                <img src="covers/1.jpg" alt=""><span class="songname"> </span>
               <span class="songlistplay"><span class="timestamp">4:30  </span><i id="8" class=" far songitemplay fa-2x fa-play-circle"></i></span>
            </div>
        </div>
        <div> 
            <div class="songitem">
                <img src="covers/1.jpg" alt=""><span class="songname"> </span>
               <span class="songlistplay"><span class="timestamp">2:30  </span><i id="9" class=" far songitemplay fa-2x fa-play-circle"></i></span>
            </div>
        </div>
        <div> 
            <div class="songitem">
                <img src="covers/1.jpg" alt=""><span class="songname"> </span>
               <span class="songlistplay"><span class="timestamp">3:30  </span><i id="10" class=" far songitemplay fa-2x fa-play-circle"></i></span>
            </div>
        </div>
    </div>

    
</div>
    <div class="song banner"></div>

</div>
<div class="bottom">
    <input type="range" min="0" max="100" id="progressbar" name="range" value="0">


    <div class="icons">
        
        <i id="prev"  class="fa-3x fa-solid fa-step-backward"></i>
        <i  id="main"class=" far fa-3x fa-play-circle"></i>
        <i id="next" class="fa-3x fa-solid fa-step-forward"></i>

    </div >
    <div class="songinfo">
        <img  id="play" src="{% static 'assets/playing.gif' %}" alt="Playing"> <span id="mainsongname">4x4 (RiskyjaTT (1))</span> 
    </div>
</div>
<button ></button>



 
</body>
{% endblock body %}
{% block javascript %}<script>console.log("Hello World")

    var change
    let play=document.getElementById('play')
    let songindex = 1
    let audio = new Audio("{% static 'Pop/1.mp3' %}")
    let previous=document.getElementById("prev")
    let songname=document.getElementById("mainsongname")
    let next=document.getElementById('next')
    let main = document.getElementById('main')
    let progress = document.getElementById('progressbar')
    let songItems = Array.from(document.getElementsByClassName('songitem')); 
    let itemplay = document.getElementsByClassName("songitemplay")
    let songs = [
        { SongName: "4x4 (RiskyjaTT (1)", filepath: '{% static "Pop/1.mp3" %}', coverpath: '{% static "covers/1.jpg" %}' },
        { SongName: "3 Peg PagalWorld", filepath: '{% static "Pop/2.mp3" %}', coverpath: '{% static "covers/2.jpg" %}' },
        { SongName: "Amrinder Gill - Yaarian Ft Dr Zeus Official Music Video", filepath: '{% static "Pop/3.mp3" %}', coverpath: '{% static "covers/3.jpg" %}' },
        { SongName: "Celebrity Killer (RiskyjaTT (1) ", filepath: '{% static "Pop/4.mp3" %}', coverpath: '{% static "covers/4.jpg" %}' },
        { SongName: " GODSPEED -Full Song", filepath: '{% static "Pop/5.mp3" %}', coverpath: '{% static "covers/5.jpg" %}' },
        { SongName: "Mi Amor- Full Song", filepath: '{% static "Pop/6.mp3" %}', coverpath: '{% static "covers/6.jpg" %}' },
        { SongName: "Never Fold Sidhu- Full Song", filepath: '{% static "Pop/7.mp3" %}', coverpath: '{% static "covers/7.jpg" %}' },
        { SongName: "Rubicorn Drill- Full Song", filepath: '{% static "Pop/8.mp3" %}', coverpath: '{% static "covers/8.jpg" %}' },
        { SongName: "Still Rollin - Full Song (pagalworld)", filepath: '{% static "Pop/9.mp3" %}', coverpath: '{% static "covers/9.jpg" %}' },
        { SongName: "White Brown Black - Full Song", filepath: '{% static "Pop/10.mp3" %}', coverpath: '{% static "covers/10.jpg" %}' },
      
    ]
    
    songItems.forEach((element,i)=> {
    element.getElementsByTagName("img")[0].src=songs[i].coverpath;
    element.getElementsByClassName("songname")[0].innerText=songs[i].SongName
    
    })
    
    main.addEventListener('click',()=>{
        
        Array.from(document.getElementsByClassName("songitem")).forEach((element)=>{
    
            let c = Array.from(element.getElementsByClassName("songname")).forEach((i)=>
            { 
                let down = document.getElementById("mainsongname").innerText
                let b = i.innerText
    
    let t = Array.from(document.getElementsByClassName("songitemplay")).forEach((ele)=>{
    
                    if(b==down)
                    {
                        if(main.className=="far fa-3x fa-pause-circle")
                        {
                            if(ele.className=="far songitemplay fa-2x fa-pause-circle")
                            {
                                ele.classList.remove("fa-pause-circle")
                                ele.classList.add("fa-play-circle")
                            }                     
                        }                   
                    }
    })
            })
        })
        if(audio.paused){
            audio.play()
           main.classList.remove("fa-play-circle")
           main.classList.add("fa-pause-circle")
           Array.from(document.getElementsByClassName("songitemplay"))[songindex-1].classList.remove("fa-play-circle")
           Array.from(document.getElementsByClassName("songitemplay"))[songindex-1].classList.add("fa-pause-circle")
          play.style.opacity="1"
    
        }
        else {
            audio.pause()
            main.classList.remove("fa-pause-circle");
            main.classList.add("fa-play-circle")
            play.style.opacity="0"
        } 
    })
    audio.addEventListener("timeupdate",()=>{
        p=parseInt((audio.currentTime/audio.duration)*100)
        progress.value=p
    })
    progress.addEventListener("change",()=>{
    audio.currentTime=progress.value*audio.duration/100
    })
    const Allplay = ()=>{
        Array.from(document.getElementsByClassName("songitemplay")).forEach((element)=>{
            element.classList.remove('fa-pause-circle');
            element.classList.add('fa-play-circle');
        })
    }
    Array.from(document.getElementsByClassName("songitemplay")).forEach((element)=>{
    element.addEventListener("click",(e)=> {
    
       
    
    
        Allplay()
        songindex = parseInt((e.target.id))
        audio.src="{% static 'Pop/' %}" + songindex + ".mp3"
        songname.innerText=songs[songindex-1].SongName
        if(e.target.className=="far songitemplay fa-2x fa-play-circle") {
            
            e.target.classList.remove("fa-play-circle")
            e.target.classList.add("fa-pause-circle")
    
            progress.currentTime=0
            audio.src="{% static 'Pop/' %}" + songindex + ".mp3"
            songname.innerText=songs[songindex-1].SongName
            audio.play()
            play.style.opacity="1"
            main.classList.remove("fa-play-circle")
            main.classList.add("fa-pause-circle")
        }
    
    
    
    })
    })
    
    next.addEventListener("click", ()=> {
    
    if(songindex>=10) {
        songindex=1
    }
    else {
        songindex+=1
    }
    progress.currentTime=0
    songname.innerText=songs[songindex-1].SongName
            audio.src="{% static 'Pop/' %}" + songindex + ".mp3"
            audio.play()
            play.style.opacity="1"
            main.classList.remove("fa-play-circle")
            main.classList.add("fa-pause-circle")
            let a = document.getElementById(songindex)
            // console.log(a.className)
            Allplay()
    a.classList.remove("fa-play-circle")
    a.classList.add("fa-pause-circle")
    
    })
    
    previous.addEventListener("click", ()=> {
    
        if(songindex<=1) {
            songindex=10
        }
        else {
            songindex-=1
        }
        progress.currentTime=0
        songname.innerText=songs[songindex-1].SongName
                audio.src="{% static 'Pop/' %}" + songindex + ".mp3"
                let a = document.getElementById(songindex)
                audio.play()
                play.style.opacity="1"
                main.classList.remove("fa-play-circle")
                main.classList.add("fa-pause-circle")
                Allplay()
                a.classList.remove("fa-play-circle")
                a.classList.add("fa-pause-circle")
        })
    
    
      
     </script>{% endblock javascript %}